ch02/crolltest.csv
ch02/naver_map_reviews.csv
Final/
Mecab/
konlpy/
konlpy-0.5.2/

ch07/plot_at_epoch_0.png
ch07/plot_at_epoch_1.png
ch07/plot_at_epoch_2.png
ch07/plot_at_epoch_3.png
ch07/plot_at_epoch_4.png
ch07/plot_at_epoch_5.png
ch07/plot_at_epoch_6.png
ch07/plot_at_epoch_7.png
ch07/plot_at_epoch_8.png
ch07/plot_at_epoch_9.png
ch08/convnet_from_scratch.keras
ch09/elephant_cam.jpg
ch10/jena_conv.keras
ch10/jena_dense.keras
ch10/jena_lstm.keras
